h1 {
    font-size: 32px;
}

.navigation_bar {
    font-size: 16px;
}

.icon-lg {
    font-size: 60px !important;
}

.cat-section-2 {
    font-size: 30px !important;
}

p {
    font-size: 11px;
}

.police button {
    font-size: 16px;
    font-weight: 700;
}

h2 {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
    color: red;
}

h3 {
    font-size: 22px;
    line-height: 1.4em;
}

.lien_contact_underline {
    font-weight: 900;
    text-decoration: underline !important; /*Changer couleur et contaste*/
}

